body {
    font-size: 16px;
    color: #fff;
    background-color: #101010;
}

/** 导航栏 **/
#header-nav {
    background-color: #444444;
    border-radius: 0;
    border:0;
}

#logo-img {
    background: url(/image/Logo.png) no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}